<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.lalalala.s3.board.notice.NoticeDAO">

	<!-- parameter type은 부모타입이어도 상관없지만 result type은 자기자신의 타입이어야함 -->

	<select id="getList" parameterType="Pager" resultType="NoticeDTO">
		SELECT * FROM 
		(SELECT rownum R, N.*
		FROM (SELECT * FROM NOTICE WHERE 
		<choose>
			<when test="kind == 'Name'">name</when>
			<when test="kind == 'Contents'">contents</when>
			<otherwise>title</otherwise>
		</choose>
		LIKE '%'||#{search}||'%' AND NUM > 0 ORDER BY NUM desc) N)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	<select id="getSelect" parameterType="BoardDTO" resultMap="selectResult">
		SELECT N.*, NF.* 
		FROM NOTICE N left join noticeFiles NF
		on N.num = NF.num
		WHERE N.num = #{num}
	</select>
	
	<resultMap type="NoticeDTO" id="selectResult">
		<id property="num" column="num"/>
		<result property="name" column="name"/>
		<result property="title" column="title"/>
		<result property="contents" column="contents"/>
		<result property="regDate" column="regDate"/>
		<result property="hit" column="hit"/>
		
		<collection property="noticeFiles" javaType="java.util.list" ofType="BoardFileDTO">
			<id property="fileNum" column="fileNum"/>
			<result property="fileName" column="fileName"/>
			<result property="originName" column="originName"/>
		</collection>
	</resultMap>
	
	<select id="getNum" resultType="java.lang.Long">
		select notice_seq.nextval from dual
	</select>
	
	<insert id="setInsert" parameterType="BoardDTO">
		INSERT INTO notice values(#{num}, #{name}, #{title}, #{contents}, sysdate, 0)
	</insert>
	
	<update id="setUpdate" parameterType="NoticeDTO">
		UPDATE notice SET title = #{title}, contents = #{contents}, regDate = SYSDATE WHERE num = #{num}
	</update>
	
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE FROM notice WHERE num = #{num}
	</delete>
	
	<select id="getTotalCount" resultType="Long" parameterType="Pager">
		select count(num) from notice
		where 
		<choose>
			<when test="kind == 'Name'">name</when>
			<when test="kind == 'Contents'">contents</when>
			<otherwise>title</otherwise>
		</choose>
		like '%'||#{search}||'%' and num > 0
	</select>

	<insert id="setFileInsert" parameterType="BoardFileDTO">
		insert into noticeFiles values(file_seq.nextval, #{num}, #{fileName}, #{originName})
	</insert>
	

</mapper>