<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.lalalala.s3.board.qna.QnaDAO">
	<select id="getList" resultType="QnaDTO" parameterType="Pager">
		select * from
			(select rownum R, Q.* from
				(select * from qna WHERE 
				<choose>
					<when test="kind == 'Name'">name</when>
					<when test="kind == 'Contents'">contents</when>
					<otherwise>title</otherwise>
				</choose>
				LIKE '%'||#{search}||'%' AND NUM > 0 order by ref desc, step asc) Q)
		where R between #{startRow} and #{lastRow}
	</select>
	
	<insert id="setInsert" parameterType="BoardDTO">
		<!-- 해당 select 문을 언제 실행할건지 -> order, 잘 안돼서 무조건 앞으로 두고 before, after하고 싶으면 밑으로 위치 -->
		<selectKey keyProperty="num" resultType="java.lang.Long" order="BEFORE">
			select qna_seq.nextval from dual
		</selectKey>
		insert into qna values(#{num}, #{title}, #{name}, #{contents}, sysdate, 0, #{num}, 0, 0)
	</insert>
	
	<select id="getSelect" parameterType="BoardDTO" resultType="QnaDTO">
		select * from qna where num=#{num}
	</select>
	
	<update id="setHitUpdate" parameterType="BoardDTO">
		update qna set hit=hit+1 where num=#{num}
	</update>
	
	<update id="setReplyUpdate" parameterType="QnaDTO">
		update qna set step=step+1 where ref=#{ref} and step>#{step}
	</update>
	
	<insert id="setReply" parameterType="QnaDTO">
		insert into qna values(qna_seq.nextval, #{title}, #{name}, #{contents}, sysdate, 0, #{ref}, #{step}, #{depth})
	</insert>
	
	<insert id="setFileInsert" parameterType="BoardDTO">
		insert into qnaFiles values(file_seq.nextval, #{num}, #{fileName}, #{originName})
	</insert>
	
	<select id="getNum" resultType="java.lang.Long">
		select qna_seq.nextval from dual
	</select>

	<select id="getTotalCount" resultType="Long" parameterType="Pager">
		select count(num) from qna
		where 
		<choose>
			<when test="kind == 'Name'">name</when>
			<when test="kind == 'Contents'">contents</when>
			<otherwise>title</otherwise>
		</choose>
		like '%'||#{search}||'%' and num > 0
	</select>
	
	<delete id="setDelete" parameterType="BoardDTO">
		delete from qna where num = #{num}
	</delete>
	
	<update id="setUpdate" parameterType="BoardDTO">
		update qna set title=#{title}, contents=#{contents} where num=#{num}
	</update>
</mapper>